@import "../../styles.scss";

  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    color: white;
    
  }

.girl {

    margin-left: 10%;
}


.girl img{
    display: grid;
    padding: 30%;
    height: 30rem; 
  }

  
  .description{
    grid-column: 2;
    margin-bottom: 150px;
    font-weight: 300;
  }



  .title{
    font-size: 40px;
    margin-bottom: 5px;
    font-weight: 400;
  }

  .custom-button {
    background-color: #1762A7;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 10px;
 
}

.custom-button:hover {
    background-color: #2180d8; 
}


