<section class="container">
    <div class="girl">
        <img src="../../assets/assets/landing-page-girl.png" alt="girl">
    </div>
    
    <div class="description">

        
        <h2 class="title">Feel The Music</h2>
        
         <p>Stream over 20 thousand songs with one <br> click</p>
          <button class="custom-button" (click)="onJoinNew()">Join New</button>
    </div>

    <div class="circle circle-blue top1"></div>
    <div class="circle circle-pick top2"></div>
    <div class="circle circle-big bottom-right"></div>

</section>

