<app-header></app-header>
<app-footer></app-footer>


<div class="discover-container">

    <div class="left-container">
        <h2>Discover new music</h2>
    </div>

    <div class="card-container">
        <div class="card">
            <img class="charts" src="../../assets/assets/microphone.svg" alt="icon microphone">
            <p>Charts</p>
        </div>
    
        <div class="card">
            <img class="albums" src="../../assets/assets/albums.svg" alt="icon albums">
            <p>Albums</p>
        </div>
    
        <div class="card">
            <img class="more" src="../../assets/assets/more.svg" alt="icon more">
            <p>More</p>
        </div>

    </div>

    <h3>By joining you can benefit by listening to the latet albums released.</h3>

    <div class="covers">
        <img src="../../assets/assets/covers.jpg" alt="imagen covers">
    </div>

</div>

<div></div>
