@import "../../styles.scss";

.left-container{
    color: white;
    margin-left: 20%;
}

h2{
    font-weight: 400;
    margin: 15px;
    font-size: 2.2rem;
    font-weight: 400;
}

.card-container{
   
    display: flex;
    margin: 15px;
    margin-left: 23%;
    
}

.card {
    text-align: center;
    background-color: #202027;
    color: white;
    padding: 0.2rem;
    margin: 0.2rem;
    width: 4rem;
   
}

img {
    height: 1.2rem;
}

p{
    margin: 0.1rem;
    font-weight: 300;
    font-size: 0.7rem;
}

h3 {
    margin: 10px;
    color: white;
    font-weight: 200;
    font-size: 0.8rem;
    margin-left: 22%;
}

.covers{
    margin-left: 50rem;
    margin-bottom: 2rem;
}

.covers img{
    height: 15rem;
    width: 15rem;
}

