/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #2F303A ;
    overFlow: hidden;
    font-family: 'Poppins' ;
}

.circle {
    position: absolute;
}

.circle-pick{
    left: 2%;
    bottom: 8%;
    z-index: -1;
    width: 25rem;
    height: 25rem;
    background-color: #bc3a801a;
    border-radius: 50%;
}
.circle-blue{
    left: 28%;
    bottom: 28%;
    z-index: -1;
    width: 25rem;
    height: 25rem;
    background-color: #3457b21a;
  
    border-radius: 50%;
}

.circle-big{
    width: 45rem;
    height: 50rem;
    background-color: #3457b21a;
    border-radius: 100%;

}

.bottom-right {
    bottom: -28rem;
    right: -16rem;
}

@media screen and (max-width: 768px) {
    .circle {
        width: 8rem;
        height: 8rem;
    }

    .circle-blue, .circle-pick {
        border-radius: 50%;
    }

    .circle-big {
        border-radius: 100%;
    }

    .girl{
        display: none;
    }
}

